body{
    background-image: url(imagenes/background.png) ;
    background-repeat: repeat;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 180px;
    height: 72px;
    left: 40px;
    top: 40px;
}

#titulo{
    font-family: 'inter';
    font-size: 4em;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    

    color:#0A3871;
}
